:root {
  --bs-primary: #fda9ef;
  --bs-primary-rgb: 253, 169, 239;
  --feature-white: #f9f9f9;
  --icon-pink: #fda9ef;
  --feedback-gray: #6f6b80;
}

.btn-dark {
  --bs-btn-bg: var(--bs-primary);
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-hover-bg: var(--bs-primary);
  --bs-btn-hover-border-color: var(--bs-primary);
  --bs-btn-active-bg: var(--bs-secondary);
  --bs-btn-active-border-color: var(--bs-primary);
}

body {
  font-family: "Geologica", sans-serif;
  font-size: 16px;
}

/* Body background */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/bg-s.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.8;
  z-index: -1;
}

/* Default font and size */
h1,
h2,
h3,
h4,
h4,
h6,
nav ul li a {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.125rem;
}

nav .nav-link {
  font-size: 1.375rem;
}

main img {
  width: 100%;
  max-height: 690px;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn-hover:hover {
  animation-name: pulse;
  animation-duration: 0.6s;
  animation-fill-mode: both;
}

.bottom-shadow {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

/* Logo */
#logo {
  width: 90px;
}

/* Skip link */
.skiplink {
  position: absolute;
  top: -40px;
  left: 0;
}

.skiplink:focus {
  top: 0;
  background-color: var(--bs-primary);
  color: #fff;
  padding: 15px;
}

.headline {
  font-size: 1.15rem;
}

p span {
  font-weight: 900;
  font-size: 1.3rem;
}

/* index.html */

#getStartedBtn h1 {
  margin-bottom: 0;
}

/* Advantages */
.feature-box {
  background-color: var(--feature-white);
  border-radius: 0.8rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

.checklist {
  list-style: none;
  padding-left: 0;
}

.checklist li::before {
  content: "✔";
  margin: 0.3rem;
  color: var(--icon-pink);
}

/* Feedback */

.icon-area {
  text-align: center;
}

.icon-area i {
  color: var(--icon-pink);
  font-size: 3rem;
}

.content p {
  color: var(--feedback-gray);
  width: 80%;
  margin: auto;
}

.person {
  width: 100px;
  height: 100px;
  display: block;
  margin: auto;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid var(--icon-pink);
  margin-top: 30px;
}

.content h5 {
  font-weight: 900;
  margin-top: 15px;
}

.carousel-indicators {
  bottom: -60px;
}

.carousel-indicators [data-bs-target] {
  width: 60px;
  height: 10px;
  background-color: var(--icon-pink);
}

/* about.html */

/* contact.html */
#submitBtn h3 {
  margin-bottom: 0;
}

@media screen and (min-width: 992px) {
  body {
    font-size: 18px;
  }

  nav ul {
    gap: 4rem;
  }

  .headline {
    font-size: 1.25rem;
  }

  p span {
    font-weight: 900;
    font-size: 1.4rem;
  }

  .feature-box {
    padding: 1.2rem;
  }
}

@media screen and (min-width: 1200px) {
  body {
    font-size: 20px;
  }

  body::before {
    background-image: url("../images/bg.jpg");
  }

  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  .headline {
    font-size: 1.35rem;
  }

  /* index.html */
  nav .nav-link {
    font-size: 1.5rem;
  }

  p span {
    font-weight: 900;
    font-size: 1.625rem;
  }

  .icon-area i {
    font-size: 4rem;
  }

  .feature-box {
    padding: 2rem;
    margin-bottom: 1.8rem;
  }
}
